*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/milestones/milestone-4/Milestone__4_Offline_First_Behavior.pdf
/milestones/milestone-1/NoteMark-Milestone-_1-Requirements.pdf
/milestones/milestone-1/NoteMark_API_Milestone_1_1748890351164.pdf
/milestones/milestone-2/NoteMark_API_Milestone_2_1749984833823.pdf
/milestones/milestone-2/NoteMark_Milestone_2_Requirements.pdf
/milestones/milestone-3/NoteMark_Milestone_3_Requirements_1752679738242.pdf
/milestones/milestone-4/NoteMark_Milestone_4_Requirements_1752679760513.pdf
